<nav>
    <div class="logo">MeetMyHomes</div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/properties">Properties</a></li>
      <li><a href="/listings">Listings</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>